.grid .discordApp {
    background-image: url("../images/discord.png");
}

.grid .hangmanApp {
    background-image: url("../images/hangman.jpg");
}

.grid .starWarsApp {
    background-image: url("../images/rey.jpeg");
}

.grid .triviaApp {
    background-image: url("../images/trivia.png");
}

.grid .gifTastic {
    background-image: url('https://media1.giphy.com/media/KLbq09EoE1uDu/200_s.gif');
}

.grid .trainApp {
    background-image: url('../images/swordfish.jpeg');
}

.grid .chatRoom {
    background-image: url('../images/flak-logo-birdonly.jpg');
    background-size: 200px;
}