.discordApp {
    background-image: url("../images/discord.png");
}

.hangmanApp {
    background-image: url("../images/hangman.jpg");
}

.starWarsApp {
    background-image: url("../images/rey.jpeg");
}