.grid .discordApp {
    background-image: url("../images/discord.png");
}

.grid .hangmanApp {
    background-image: url("../images/hangman.jpg");
}

.grid .starWarsApp {
    background-image: url("../images/rey.jpeg");
}