body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: white;
    background-image: url("../images/what-the-hex.png");
    background-repeat: repeat;
    color: #777777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;  
}


/* Navigation styling */

.navbar {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #cccccc;
    box-shadow: 0px 5px 20px 0px grey;
}

.navContent {
    margin: auto;
    width: 960px;
}

.studentName {
    padding: 20px;
    color: #ffffff;
    background-color: teal;
    width: fit-content;
    font-size: 3rem;
    position: absolute;
    bottom: 0;
}

.navlist {
    list-style-type: none;
    float: right;
    margin-top: 50px;
}

.navitem {
    display: inline;
    padding: 14px 16px;
    font-size: 1.25rem;
}

.navitem > a {
    color: #777777;
    text-decoration: none;
    background-color: none;
    padding: 10px;
    transition: .2s background-color, color;
}

.navitem > a:hover {
    background-color: teal;
    color: white;
}


/* Container styling */

.container {
    width: 900px;
    background-color: #ffffff;
    padding: 30px 30px 100px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-top: 150px;
    border: 1px;
    border-style: solid;
    border-color: #dddddd;
}

.container > img {
    float: left;
    margin-right: 15px;
}

.heading {
    font-size: 1.75rem;
    margin-bottom: 20px;
    color: #4aaaa5;
}

hr {
    margin-bottom: 20px;
}

#about {
    line-height: 24px;
}


/* Contact page styling */

input[type=text] {
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0 10px 0;
    padding: 12px 5px;
}

textarea {
    box-sizing: border-box;
    margin: 5px 0 10px 0;
    padding: 12px 5px;
    height: 200px;
    width: 100%;
    resize: none;
}

input[type=submit] {
    color: white;
    background-color: teal;
    padding: 8px;
    font-size: 1.2rem;
    border: none;
    transition: .1s box-shadow;
}

input[type=submit]:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Portfolio styling */

.grid {
    justify-content: space-evenly;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 20px;
}

.grid > a {
    height: 200px;
    width: 200px;
    background-image: url("http://www.fillmurray.com/200/200");
    transition: .1s box-shadow;
    text-decoration: none;
}

.grid > a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid > a > p {
    color: white;
    font-size: 1.2rem;
    background-color: teal;
    line-height: 2.25rem;
    text-align: center;
    margin-top: 65%;
}


/* Footer styling */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #666666;
    border-top: 8px;
    border-style: solid;
    border-color: teal;
    height: 50px;
    width: 100%;
}

footer > p {
    color: white;
    padding: 15px 0 15px 0;
    text-align: center;
}